*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
/.vscode
/.oca
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/fusabase-gradle-plugin/build/
/fusabase-gradle-plugin/bin/
/fusabase/build/
/fusabase/src/androidTest/
memory-bank/vector-api-implementation-plan.md
